header {
    background-color: map-get($colores, colorPrimario);
    display: flex;
    width: 100%;

    .divLogo {
        width: 50%;

        img {
            padding: 5px;
            width: 15%;
        }
    }
}