ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn_registrarse {
    margin-top: 20px;
    margin-right: 20px;
    height: 40px;
    width: 120px;
}

.btn_iniciar_sesion {
    margin-top: 20px;
    height: 40px;
    width: 120px;
}

.botones {
    width: 100px;
    height: 50px;
}